## Exercise one
Using either this [XML file Download](../People.xml) or this [JSON file Download](../People.json) (both contain the same data) 
1. Write a program using the appropriate APIs to translate from one format to another. So you can either use the XML file and translate into JSON or use the JSON file and translate it into XML. 
2. You should output the generated format to file. The file outputted from your program can then be compared with the version given here. 
3. What, if any, differences are there? Do these differences affect the integrity of the data in the file you generated? If they do, what changes do you need to make your program?

In [59]:
import xml.etree.ElementTree as ET

def xmlParser():
    # Parse the XML file
    tree = ET.parse("People.xml")
    root = tree.getroot()

    # Retrieve information about the root element
    rootValues = f'Root Tag: {root.tag} | Root Attributes: {root.attrib} | Root Text: {root.text}'

    # Get the first record to check data structure
    student1 = root[0]
    ET.dump(student1)

    # Print the column headers
    print("{:<10}\t{:<12}\t{:<12}\t{:<12}\t{:<5}\t{:<10}".format(
        "Title", "First Name", "Surname", "Other Names", "Age", "City"
    ))

    # Print all records
    for student in root:
        # Extract the values for each column
        title = student.find("fullName").get('title')  # Title is an attribute
        firstName = student.find("fullName/firstName").text  # First name is a value inside a tag
        surname = student.find('fullName/surname').text
        age = student.find("age").text
        city = student.find('city').text
        #dealing with nested tags
        other_names = []
        other_names_Elements = student.findall("fullName/other/name")
        for name in other_names_Elements:
            other_names.append(name.text)

        # Print the record with proper formatting
        print("{:<10}\t{:<12}\t{:<12}\t{:<12}\t{:<5}\t{:<10}".format(
            title, firstName, surname, ", ".join(other_names), age, city
        ))

In [60]:
xmlParser()

<student>
	<fullName title="Mrs">
		<firstName>Lisa</firstName>
		<surname>Penny</surname>
		<other num="1">
			<name>Melanie</name>
		</other>
	</fullName>
	<age>32</age>
	<city>London</city>
	</student>



Title     	First Name  	Surname     	Other Names 	Age  	City
Mrs       	Lisa        	Penny       	Melanie     	32   	London
Mr        	Lorenzo     	Dubois      	Ruelle, Garlen	38   	Paris
Mr        	Takeshi     	Tanaka      	            	25   	Tokyo
Mr        	Tanveer     	Patel       	Vihaan      	27   	Mumbai
Miss      	Iolanda     	Melo        	Bianca      	23   	Lisbon

In [18]:
import json

def jasonParser():
    '''Parsing a JSON file'''
    inFile = open("People.json", mode="r")
    dataFile = json.load(inFile)
    # print(dataFile)  # Uncomment this line to print the entire JSON data
    inFile.close()

    # Print the column headers
    print("{:<5}\t{:<10}\t{:<12}\t{:<12}\t{:<12}\t{:<5}\t{:<10}".format(
        "ID", "Title", "First Name", "Surname", "Other Names", "Age", "City"
    ))

    # Iterate over each student record
    for student in dataFile['students']:
        # Extract the required fields from the student dictionary
        id = student['id']
        title = student['fullName']['title']
        first = student['fullName']['first']
        surname = student['fullName']['surname']

        otherNames = []
        # Iterate over the list of other names and append to the new list if it is not None
        for name in student['fullName']['other']:
            if name:
                otherNames.append(name)
            else:
                continue

        other_Names = " ".join(otherNames)
        age = student['age']
        city = student['city']

        # Print the record with proper formatting
        print("{:<5}\t{:<10}\t{:<12}\t{:<12}\t{:<12}\t{:<5}\t{:<10}".format(
            id, title, first, surname, other_Names, age, city
        ))

In [19]:
jasonParser()

ID   	Title     	First Name  	Surname     	Other Names 	Age  	City
897654	Mrs       	Lisa        	Penny       	Melanie     	32   	London
786789	Mr        	Lorenzo     	Dubois      	Ruelle Garlen	38   	Paris
546854	Mr        	Takeshi     	Tanaka      	            	25   	Tokyo
238751	Mr        	Tanveer     	Patel       	Vihaan      	27   	Mumbai
894573	Miss      	Iolanda     	Melo        	Bianca      	23   	Lisbon